.garniture-image{
    width: 100%; /* Utilise toute la largeur disponible */
    height: 200px; /* Hauteur fixe pour toutes les images */
    /* object-fit: cover;  */
    object-fit: contain;
}
.selection-indicator{
    font-size: 35px;
}
.selected-class{
    border: 5px solid orange;
    border-radius: 5px;
    box-shadow: 0px 0px 10px orange;
}