.img-logo{
    width: 150px;
    margin: 42px 0;
}
.h-border{
    border-bottom: 30px solid var(--primary-color);
}
.orange{
    color: var(--primary-color);
}
.header-bg{
    background-color: var(--secondary-color);
}
.swal2-timer-progress-bar {
    background-color: var(--primary-color) !important;
    height: 15px !important;
    margin-top: 38px !important;
}
