.divider{
    border-radius: 100px 100px 100px 100px;
    height: 4px;
    margin: 20px auto 40px;
    width: 100px;
    background: #ffb700;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
    background-color: rgb(255, 183, 0) !important;
}
/* .container-custom {
    display: flex;
    justify-content: space-between;
    height: 100%;
} */

.menu-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;  */
    /* margin: 20px 10px; */
}
.top-section{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    max-height: 10%;
    margin: 20px 10px;
}
.categories-bar {
    /* flex: 1; */
    /* height: calc(100vh - (532.7px)); */
    height: calc(100vh - (730px));
    width: 25%;
    overflow-y: auto;
}
.categories-bar::-webkit-scrollbar{
    width: 2px;
}
.categories-bar::-webkit-scrollbar-track{
    background: #f2f0f0;
    border-radius: 10px;
    box-shadow: inset 0 0 3px grey; 
}
.categories-bar::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(153, 153, 153);
}

.order-process {
    width: 75%;
    height: calc(100vh - (730px));
    overflow-y: auto;
    /* flex: 2; */
    /* border-left: 2px solid #ccc; */
}
.order-process::-webkit-scrollbar{
    display: none;
}
.order-summary {
    flex: 1; /* Ajustez selon le besoin */
    border-top: 2px solid grey;
    /* margin: 0 10px; */
    /* height: 400px; */
}
.order-summary h4{
    margin-left: 2rem;
}
.commande{
    /* ombrage vers le bas */
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    /* border-bottom: 2px solid #eee; */
    align-items: center;
}
.price{
    font-weight: bold;
    font-size: 20px;
}
.total{
    font-size: 15px;
}
.categ-title{
    border-bottom: 3px solid #262626;
    margin-bottom: 20px;
}
.order-type-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 220px);
}
.order-type-selection {
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
 /* Utilisez 100vh pour prendre toute la hauteur de l'écran */
}
.order-type-title {
    margin-bottom: 70px; /* Ajustez l'espacement selon vos besoins */
}
.order-type-selection .card {
    width: 18rem;
    margin: 0 30px; /* Espacement entre les cartes */
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-type-selection .card:hover {
    background-color: #f0f0f0;
}