.itemPrice{
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}
.optionButton {
    margin: 15px 20px;
    width: 180px;
    height: 120px;
    font-size: 23px;
}
.centrage{
    margin-top: 50%;
}
.btn-option{
    background-color: var(--primary-color);
}
.btn-option:hover{
    background-color: var(--primary-color);
}
.menuItem img:active{
    border: 4px solid var(--primary-color);
}