a{
    text-decoration: none !important;
}
.ml{
    margin-left: 15px;
}
.finish_button{
    padding: 50px 0;
}
.card{
    width: 18rem;
    border: 3px solid orange;
    box-shadow: 0 20px 18px -6px rgba(0,0,0,.5);
    margin-left: 2rem;
}
.summary-section{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}
.order-product{
    width: 75.1%;
    overflow-x: auto;
    white-space: nowrap; 
    border-right: 2px solid #787474;
    /* display: flex; */
}
.order-product::-webkit-scrollbar{
    width: 12px;
    border-radius: 20px;
}
.order-product::-webkit-scrollbar-track{
    background: #f2f0f0;
    border-radius: 20px;
}
.order-product::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: orange;
}
.order-product .card {
    display: inline-block; /* Affiche les cartes en ligne */
    margin-right: 16px; /* Espacement entre les cartes */
}
.order-price{
    width: 24.9%;
    /* border-left: 1px solid #787474; */
}
.summary-section h4{
    /* padding: 20px 0; */
    border-bottom: 3px solid grey
}
.card-text{
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden; /* Cache le débordement du texte */
    text-overflow: ellipsis;
}