/* body{
  max-height: 1920px;
} */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  position: relative; /* Pour le positionnement des enfants */
  overflow: hidden; /* Cache le contenu débordant si nécessaire */
  border: 25px solid #363535;
  border-radius: 45px;
}

/* Ajuster l'échelle si nécessaire pour s'adapter à votre écran de développement */
.scale-container {
  transform-origin: top center; /* Ajustez si nécessaire */
  transform: scale(0.36); /* Ajustez cette valeur en fonction de la taille de votre écran de développement */
}
/* Sur mobile .scale-conrainer a un transform-origin: top left */
/* @media screen and (max-width: 768px) {
  .scale-container {
    transform-origin: top left;
  }
  .swal2-container {
    transform-origin: top left;
  }
} */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.max-height {
  overflow: hidden;
  max-height: 100vh;
}
.swal2-container {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) scale(0.36) !important;
  width: 1080px !important;
  height: 1920px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
div:where(.swal2-container).swal2-backdrop-show{
  border-radius: 45px;
}
/* Media Query pour neutraliser les styles sur les écrans de 1080x1920 */
@media screen and (device-width: 1080px) and (device-height: 1920px), (device-width: 1920px) and (device-height: 1080px) {
  .app-container {
    width: auto;
    height: auto;
    margin: 0;
    position: static;
    overflow: visible;
    border: none;
    border-radius: 0;
  }

  .scale-container {
    transform: none !important;
  }
  .max-height {
    max-height: none;
    overflow: visible;
  }

  .swal2-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Overlay semi-transparent */
    z-index: 1060; /* Assure que l'alerte est au-dessus d'autres éléments */
    transform: translate(-50%, -50%) scale(1) !important;
  }
  

  div:where(.swal2-container).swal2-backdrop-show {
    border-radius: 0;
  }
}