.categoryItem {
    text-align: center;
    margin-bottom: 15px;
}
.categoryImage{
    width: 100%;
    height: 200px; 
    object-fit: cover;
}
.categoryItemImage {
    width: 100%; 
    height: 200px; 
    object-fit: contain; 
}


.categoryName {
    margin-top: 10px; 
}
